@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  min-height: 100%;
}

@font-face {
  font-family: 'NanumSquareNeo';
  src: url(../font/NanumSquareNeo-Variable.woff2);
}

body *{
  font-family: 'NanumSquareNeo';
}